# Authentication (AWS Cognito - Staging Environment)
VITE_COGNITO_DOMAIN=https://nemologic-stage-auth-ey12fmas.auth.ap-northeast-2.amazoncognito.com
VITE_COGNITO_CLIENT_ID=686l06ds2g42ha4qs63pd5lh6g

# Local Application URL
VITE_APP_URL=http://localhost:5173

# API Endpoint (Change to https://api.stage.rogic.io if you want to connect to the Staging server instead of local DB)
VITE_API_URL=http://localhost:8080
